<footer class="bottom">
  <!--This is semantic Change-3 -->

  <div class="center" aria-label="COPYRIGHT INFORMATION">
    <!-- This is A11y Change-4   -->
    All rights reserved &copy; Sri Charan Murukutla

    <!-- This is Semantic Html, This is SEO Change-4 -->
    <div class="h-card">
      <!-- Name -->
      <p class="p-name">Sri Charan Murukutla</p>
      &nbsp;

      <!-- Email -->
      <a class="u-email" href="mailto:smurukut@uncc.edu">Email me</a>&nbsp;

      <!-- Location -->
      <p class="p-locality">NORTH CAROLINA</p>
      ,&nbsp;
      <p class="p-country-name">USA</p>
    </div>
  </div>
</footer>
